body {
    background-color: #e7e7e7;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container1 {
    display: grid;
    grid-template-columns: 2% [first-column] 18% [second-column] 20% [third-column] 20% [fourth-column] 20% [fifth-column] 18% [sixth-column] 2%;
    grid-template-rows: 4% [first-row] 5% [second-row] 5% [third-row] 30% [fourth-row] 5% [fifth-row] 15% [sixth-row] 5% [seventh-row] 27% [eighth-row] 4%;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.blank-space1 {
    grid-column: first-column / sixth-column;
    grid-row: first-row / second-row;
    border: 2px solid black;
    border-bottom: none;
}

.title-container {
    grid-column: first-column / sixth-column;
    grid-row: second-row / third-row;
    border: 2px solid black;
    border-bottom: none;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 2px;
}
.greeting {
    display: flex;
    margin-left: auto;
    padding-right: 2px;
}

.logo img {
    width: 32px;
}

.title {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.img {
    grid-column: fourth-column / sixth-column;
    grid-row: third-row / fourth-row;
    width: 99%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
    border-bottom: none;
}

.blank-space2 {
    grid-column: first-column / sixth-column;
    grid-row: fourth-row / fifth-row;
    border: 2px solid black;
    border-bottom: none;
}
.container2 {
    grid-column: first-column / sixth-column;
    grid-row: fifth-row / sixth-row;
    display: grid;
    border: 2px solid black;
    border-bottom: none;
    grid-template-columns: [cont2-first-col] 33.33% [cont2-second-col] 33.33% [cont2-third-col] 33.33%;
    grid-template-rows: 100% [row1];
}

.login {
    grid-column: cont2-second-col / cont2-third-col;
    border-left: 2px solid black;
}

.logout {
    grid-column: cont2-third-col;
    border-left: 2px solid black;
}

.blank-space3 {
    grid-column: first-column / sixth-column;
    grid-row: sixth-row/ seventh-row;
    border: 2px solid black;
    border-bottom: none;
}

.container3 {
    grid-column: first-column / sixth-column;
    grid-row: seventh-row / eighth-row;
    border: 2px solid black;
    display: grid;
    grid-template-columns: [cont3-first-col] 50% [cont3-second-col] 50%;
}

.want-to-read {
    grid-column: cont3-first-col;
    overflow: scroll;
}

.want-to-read::-webkit-scrollbar {
    width: 5px;
}

.want-to-read::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.want-to-read::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.read {
    grid-column: cont3-second-col;
    border-left: 2px solid black;
    overflow: scroll;
}
.read::-webkit-scrollbar {
    width: 5px;
}

.read::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.read::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.title-read {
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title-want-to-read {
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.custom-table thead th {
    padding: 12px 16px;
}

.custom-table td {
    padding: 5px;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.delete-button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: small;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 60px 16px;
}

.delete-button:hover {
    background-color: #c4d338;
}

.delete-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .delete-button {
        min-width: 120px;
        padding: 0 15px;
    }
}
