.title-logout {
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.logout {
    overflow: scroll;
}
body {
    background-color: #e7e7e7;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.logout-button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: small;
    padding: 0 18px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.logout-button:hover {
    background-color: #fff;
}

.logout-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .logout-button {
        min-width: 120px;
        padding: 0 25px;
    }
}

.logout::-webkit-scrollbar {
    width: 5px;
}

.logout::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.logout::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.logout-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Ensure the container takes up the full height of its parent */
    height: 12vh; /* Ensure the container takes up the full height of its parent */
}
