.search {
    grid-column: first-column / sixth-column;
    grid-row: third-row / fourth-row;
    border: 2px solid black;
    border-bottom: none;
    max-width: 61%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    overflow: hidden;
}

.search-title {
    margin-top: 2px;
    margin-bottom: 2px;
}

button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    cursor: pointer;
    color: black;
    height: 32px;
}

button:hover {
    background-color: #c4d338;
    border: 2px solid #81917d;
    color: #81917d;
    font-weight: bolder;
}
.input-container {
    margin-bottom: 2px;
}
.input-box {
    height: 27px;
    text-align: center;
}

.search-results-container {
    max-height: 152px;
    overflow-y: auto;
    text-align: left;
}

.search-results {
    margin-left: 5px;
}
